*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
  color:#D9D9D9 ;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header{
  text-align: center;
}

header >h1{
  font-size: 2rem;
  font-weight: 600;
  color: #F9F4DA;
}

header >p{
  font-size: 1rem;
  color: #8E8E8E;
}

.game-status{
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#F9F4DA ;
  border-radius: 5px;
  margin-block: 30px;
}

.game-status >p{
  margin: 5px;
}

.game-status >h2{
  margin: 5px;
  font-size: 1.25rem;
}

section.lang-chips{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 400px;
  margin-bottom: 30px;
}

span.chip{
  border-radius: 3px;
  padding: 4px;
}

section.word{
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

section.word>span{
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #D9D9D9;
}

section.keyboard{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
}
section.keyboard >button{
  height: 30px;
  width: 30px;
  background-color: #d09809;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
}