*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
  color:#D9D9D9 ;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header{
  text-align: center;
}

header >h1{
  font-size: 2rem;
  font-weight: 600;
  color: #F9F4DA;
}

header >p{
  font-size: 1rem;
}