html,body{
    margin: 0;
}
header{
    background: #F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 55px;
}
header >img{
    width: 24px;
    margin-right: 7px;
}
header > h1{
    font-size: 0.9rem;
    font-weight: 500;
}