html,body{
    margin: 0;
}
header{
    background: #F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 55px;
}
header >img{
    width: 24px;
    margin-right: 7px;
}
header > h1{
    font-size: 0.9rem;
    font-weight: 500;
}
article .journal{
    display: flex;
    margin-bottom: 30px;
}
article .journal .marker{
    width: 7px;
    margin-right: 4px;
}
.img-container{
    width: 120ox;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
}
.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}