*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #FAFAF8;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10),0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header >img{
  width: 60px;
  height: 60px;
}
header >h1{
  font-weight: 400;
  font-size: 30px;
}
main{
  padding: 20px 30px 10px;
}
.add-ingredient-form{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.add-ingredient-form >input{
  border-radius: 5px;
  border: 1px solid gray;
  min-width: 150px;
  max-width: 400px;
  flex-grow: 1;
  padding: 8px 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.add-ingredient-form >button{
  border-radius: 5px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
}